<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.zcloud.entity.PageData" alias="pd"/>
		<typeAlias type="com.zcloud.entity.Page" alias="page"/>
		<typeAlias type="com.zcloud.entity.system.User" alias="user"/>
		<typeAlias type="com.zcloud.entity.system.Menu" alias="menu"/>
		<typeAlias type="com.zcloud.entity.system.Role" alias="role"/>
		<typeAlias type="com.zcloud.entity.system.Dictionaries" alias="dictionaries"/>
		<typeAlias type="com.zcloud.entity.system.Department" alias="Department"/>
		
		<!-- 这里添加实体类 -->
		
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.zcloud.plugins.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
	
</configuration>